body {
    background-color: #788999;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Selezione lingua */
#language-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(135deg, #717171,#4b4b4b );
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    text-align: center;
}

.logo-container img {
width: 250px;
padding: 10px;
margin-bottom: 30px;
filter: brightness(0) invert(1);
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), /* bagliore morbido */
        0 0 20px rgba(255, 127, 80, 0.7),  /* effetto corallo */
        0 0 30px rgba(255, 127, 80, 0.9);  /* bagliore più intenso */
border-radius: 10px; /* opzionale: arrotonda gli angoli */
}


h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.btn-language {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ffffff;
    color: #343a40;
    border: none;
    border-radius: 30px;
    transition: transform 0.3s, background-color 0.3s;
    width: 220px;
}

.btn-language:hover {
    background-color: #464646;
    transform: scale(1.05);
}

#menu-container {
   
    transition: opacity 0.5s ease-in;
}

/* Navbar categoria */
.navbar {
    background-color: #343a40;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 20px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff9900;
}

/* Container articoli */
.category-row {
    background-color: #717171;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
    margin: 10px 5px;

}


.category-row:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
}

.category-header {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.row-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.price {
    color: #ffffff;
    font-weight: 700;
}

.container-menu {
    margin-top: 40px;
}
#change-language {
position: fixed;
top: 20px;
right: 20px;

background-color: #000000;
color: white;
border: none;
border-radius: 10px; /* Angoli arrotondati */
font-size: 1rem;
padding: 0.3rem;
font-weight: bold;
text-align: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
cursor: pointer;
transition: background-color 0.3s, transform 0.3s;
}

#change-language:hover {
background-color: #6a6a6a;
transform: scale(1.1);
}